<div class="col-md-6">
  <div class="card bg-dark" data-id="<%= portfolio_item.id %>">
    <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), width: '100%' %>
    <p class="card-text">
      <span><h3><%= portfolio_item.title %></h3></span> <%= portfolio_item.subtitle %>
    </p>
  </div>
</div>

<!-- %= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></h2></span> %= portfolio_item.subtitle %>-->
