<div class="album text-muted">
 <%= link_to "Create new Portfolio", new_portfolio_url if logged_in?(:site_admin) %>
  <div class="container">
    <div class="row">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>
