<div class="inner cover">
  <h1 class="cover-heading"></h1>
  <br /><br /> <br />  <br /><br /> <br />  <br /><br /> <br />  <br /><br /> <br />  <br /><br /> <br />
<%= image_tag "smartifi.png", width:300, alt:"profile image", class: "" %>


  <p class="lead">We do all the leg work so you can do better things.</p>
  <p class="lead">
    <a href="<%= portfolios_path %>" class="btn btn-lg btn-secondary">Find out more</a>
    
  </p>
</div>


