@import "bootstrap";
@import "jquery-ui";
@import "gritter";
@import url('https://fonts.googleapis.com/css?family=Capriola|Source+Sans+Pro|Fira+Sans');
body {
	height:120%;
	margin:0;
	background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cartographer.png');
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.08em;

	}
    
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Capriola', sans-serif;
}
p {
  font-size: 1.16em;
}
.card-text1 {
  font-size: 1.3em;
}

a:link {
  text-decoration: none;
  color: black;
}

.mail {
	max-width: 30px;
}
.text-grey { 
	color: #E8E8E8;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

    


.card {
  float: center;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

// custom styles
#gradient {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #836997;
}

// cubes ->

.cubes {
	background: #202124;
}

@keyframes circle {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	80% {
		transform: translateY(-100vh);
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(-100vh);
	}
}

@keyframes shadow {
	0% {
		transform: scaleY(0);
	}
	30% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(.5);
	}
}

.shape {
	position: absolute;
	width: 66px;
	height: 66px;
	animation: circle 5s linear infinite;
	animation-fill-mode: both;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
	
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		height: 360px;
		transform-origin: top center;
		animation: inherit;
		animation-name: shadow;
	}
}

.circle {
	top: calc(100vh - 66px);
	left: calc(25vw - 66px);
	background: linear-gradient(45deg, #49E7C2 0%, #7AEC90 100%);
	border-radius: 100%;
	
	&::after {
		background: linear-gradient(-180deg, rgba(73, 231, 194, .40) 0%, rgba(28, 28, 28, 0) 100%);
	}
}

.rectangle {
	top: calc(100vh - 66px);
	left: calc(50vw - 66px);
	background: linear-gradient(45deg, #EA9F45 0%, #F4EE51 100%);
	animation-delay: 2s;
	
	&::after {
		background: linear-gradient(-180deg, rgba(234, 159, 69, .30) 0%, rgba(28, 28, 28, 0) 100%);
		top: 100%;
	}
}

.triangle {
	top: calc(100vh - 66px);
	left: calc(75vw - 66px);
	background: linear-gradient(45deg, #22A0F9 0%, #71FDC8 100%);
	clip-path: polygon(0 0, 100% 100%, 100% 0);
	animation-delay: 1s;
	
	&::after {
		background: linear-gradient(-180deg, rgba(34, 223, 249, .40) 0%, rgba(28, 28, 28, 0) 100%);
		top: 0;
		will-change: transform;
	}
}

